<div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col">
    <header class="flex flex-row place-self: end">
      <img class="w-12 h-12 object-contain" src="https://imgs.search.brave.com/L77Edwq83s7STL__a_TCEc78FdecMxcAiyk_mo6ByfA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNS8x/Mi8wMy8wNC80MS9i/dXR0ZXJmbHktMTA3/MzcwOV82NDAucG5n" alt="Atardecer más frío">
      <h1 class="ml-auto text-align: right"><br>asdasdf<br>________</h1>

    </header>
    <div class="px-6 py-4 flex-grow align-self-stretch">
      <div class="font-bold text-xl mb-2">El atardecer más frío</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p>
    </div>
</div>  
