.contenedor-imagenes {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;

  @for $i from 8 through 14 {
    > .flex-shrink-0:nth-child(#{$i}) {
      display: none;
    }
  }
}

.specialty-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.carrusel  {
  display: flex;
  transition: transform 0.5s ease;
}

.botones {
  display: flex;
  width: 70%;

.boton-anterior,
.boton-siguiente {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}
}

.background-image{
  background-image: radial-gradient(ellipse farthest-corner at 75px 30px , #fff 35%, #B4CEFF 100%);
    border-radius: 50%;
}

  
  
  .specialty-name {
    display: none;
  }

  
  