h5 {
    overflow: hidden;
    width: 80%; /* Ajusta el ancho según tu diseño */
    flex-wrap: wrap;
  }
  .borde-dinamic {
    width: 100vh;
    height: 100vh;
    background-image: radial-gradient(ellipse farthest-corner at 50px 80px , #fff 20%, rgba(0, 255, 0, 0) 0%, #B4CEFF 80%);
    border-radius: 32px;
  }
.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 75%; /* Ajusta el ancho según tu diseño */
  
    .input {
      border: none;
      outline: none;
      font-size: 16px;
      padding: 0 10px;
      width: 100%;
    }
  
    .button {
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
  .shadow-blue-light {
    box-shadow: -5px -5px 10px rgba(117, 165, 255, 0.51);
  }