<button
  [ngClass]="{
    'w-44 h-10 rounded-full bg-yellow-300 font-poppins text-base font-semibold':
      color === 'primary',
    'w-48 h-12 bg-[#75A5FF] rounded-2xl border-[#ffff] text-[#FFFF]':
      color === 'secondary',
    'bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded':
      color === 'danger'
  }"
  [type]="buttonType"
  [routerLink]="routerLink"
  class="additionalClass"
>
  <ng-content></ng-content>
  <i *ngIf="endIcon" [ngClass]="endIconClass"></i>
</button>
