.edit{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #75A5FF;
    text-decoration: underline;
}
.delete{
    border: 3px solid #F81313;
    border-radius: 30px;
    width: 262px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #F81313;
}

.desplegable{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #063463;
    text-decoration: underline;
}
.card{
    width: 882px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: -5px 5px 20px #87B1FF40;
}
.añadir{
    border: 3px solid #065DB4;
    border-radius: 30px;
    width: 164px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #063463;
}