<shared-navbar [activeBlue]="true"></shared-navbar>
<div class="grid place-items-center h-full w-full mt-24 space-y-8">
  <img src="./../../../../assets/image-png/not-found.png" alt="" />
  <h1
    class="text-accent-dark text-[32px] leading-[46.34px] font-poppins font-normal"
  >
    Página en construcción
  </h1>
  <div class="flex flex-col items-center text-2xl text-primary-dark leading-10">
    <p>Estamos trabajando para ofrecerte una mejor experiencia.</p>
    <p>
      Pronto estaremos listos para brindarte nuevos servicios. ¡Gracias por tu
      paciencia!
    </p>
  </div>
  <app-button color="primary" buttonType="button" routerLink="/"
    >Volver al inicio</app-button
  >
</div>
