<div class="bg-calme-light-blue h-[8.25rem] rounded-t-3xl">
  <footer
    class="w-full h-full max-w-[1440px] m-auto flex items-center justify-between"
  >
    <img
      class="w-[8.37rem] object-contain"
      src="./assets/icons-svg/logo.svg"
      alt="calme logo"
    />
    <ul class="flex flex-wrap items-center mt-3 sm:mt-0">
      <li>
        <a
          class="mr-6 cursor-pointer flex items-center justify-center align-center rounded-full outline-none h-[3.37rem] w-[3.37rem] circle-radial-gradient"
        >
          <img
            class="w-6 h-6 object-contain"
            src="./assets/icons-svg/instagram.svg"
            alt="calme instagram"
        /></a>
      </li>
      <li>
        <a
          class="mr-6 cursor-pointer flex items-center justify-center align-center rounded-full outline-none h-[3.37rem] w-[3.37rem] circle-radial-gradient"
          ><img
            class="w-6 h-6 object-contain"
            src="./assets/icons-svg/linkedin.svg"
            alt="calme linkedin"
        /></a>
      </li>
      <li>
        <a
          class="mr-6 cursor-pointer flex items-center justify-center align-center rounded-full outline-none h-[3.37rem] w-[3.37rem] circle-radial-gradient"
          ><img
            class="w-6 h-6 object-contain"
            src="./assets/icons-svg/youtube.svg"
            alt="calme youtube"
        /></a>
      </li>
    </ul>
  </footer>
</div>
