@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import '~@angular/cdk/overlay-prebuilt.css';
// ICONS
.icon-search {
  background-image: url("./assets/icons-svg/Vector.svg");

  width: 24px;
  height: 22px;

  background-size: cover;
  background-repeat: no-repeat;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
